<div class="overlay">
    <div class="container-fluid content">
        <div class="container">
            <form class="p-4"
                style="max-width: 400px; margin: auto; background-color: #f8f9fa; border-radius: 8px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
                <!-- Tipo de Actividad -->
                <div class="mb-3">
                    <label for="tipoActividad" class="form-label">Select a activity type</label>
                    <select #typeSelect class="form-select" id="tipoActividad" (change)="onActivityTypeChange($event)"
                        name="tipoActividad">
                        <option [value]="this.activity?.activityType?.id" selected disabled>Default: {{
                            this.activity?.activityType?.name }}</option>
                        <option *ngFor="let type of activityTypes" [value]="type.id">
                            {{ type.name }}
                        </option>
                    </select>
                </div>



                <!-- Monitor Index -->
                <div class="mb-3 select-container">
                    <!-- Info con hover -->
                    <div class="tooltip">Select a monitor and then select a diferent index to save the selected monitor at this index</div>
                    <label for="monitorN" class="form-label">Monitor Index</label>
                    <select id="indexSelect" class="form-select" id="monitorN" (change)="onMonitorIndexChange($event)"
                        name="monitorIndex">
                        <option value="-1" selected disabled>Select a option</option>
                        <option *ngFor="let index of rangeNumers" [value]="index">
                            {{ index + 1 }}
                        </option>
                    </select>
                </div>


                <!-- Monitor -->
                <div id="monitorSelect" *ngIf="indexAuxiliar != -1 && monitorView != null" class="mb-3">
                    <label for="monitor" class="form-label">Monitor</label>
                    <select class="form-select" id="monitor" (change)="onMonitorChange($event)" name="monitor">
                        <option [value]="-1" selected disabled>Default:{{ monitorView.name }}
                        </option>
                        <option *ngFor="let monitor of monitors" [value]="monitor.id" [ngStyle]="{'background-color': isAtList(monitor.id)}">
                            {{ monitor.name }}
                        </option>
                    </select>
                </div>

                <!-- Botones -->
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-danger w-45" (click)="onSubmit($event)">Aceptar</button>
                    <button type="button" class="btn btn-danger w-45" (click)="onCancel($event)">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>