<div *ngIf="isLoading" class="loading-screen">
   
    <div class="loading-message">
        <div class="row">
          <div class="col-1">
  
          </div>
          <div class="col-8">
            <div class="spinner"></div>
          </div>
        </div>
        <p>Loading...</p>
      </div>
</div>

<div *ngIf="!isLoading" class="overlay">
    <div class="container-fluid content">
        <div class="container">
            <form class="p-4"
                style="max-width: 400px; margin: auto; background-color: #f8f9fa; border-radius: 8px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
                <!-- Tipo de Actividad -->
                <div class="mb-3">
                    <label for="tipoActividad" class="form-label">Select a activity type</label>
                    <select class="form-select" id="tipoActividad" (change)="onActivityTypeChange($event)"
                        name="tipoActividad">
                        <option *ngFor="let type of activityTypes" [value]="type.id">
                            {{ type.name }}
                        </option>
                    </select>
                </div>

                <!-- Monitor Index -->
                <div *ngIf="activityType" class="mb-3">
                    <label for="monitorN" class="form-label">Monitor Index</label>
                    <select class="form-select" id="monitorN" (change)="onMonitorIndexChange($event)"
                        name="monitorIndex">
                        <option *ngFor="let index of rangeNumers" [value]="index">
                            {{ index + 1 }}
                        </option>
                    </select>
                </div>

                <!-- Monitor -->
                <div #monitorSelect *ngIf="selectedMonitorIndex !== null" class="mb-3">
                    <label for="monitor" class="form-label">Monitor</label>
                    <select class="form-select" id="monitor" (change)="onMonitorChange($event)" name="monitor">
                        <option *ngFor="let monitor of monitors" [value]="monitor.id">
                            {{ monitor.name }}
                        </option>
                    </select>
                </div>

                <!-- Botones -->
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-danger w-45" (click)="onSubmit($event)">Aceptar</button>
                    <button type="button" class="btn btn-outline-danger w-45">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>