<div class="modal show d-block" *ngIf="monitorEdited" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ isCreating ? 'Crear Monitor' : 'Editar Monitor' }}</h5>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            <div class="modal-body">
                <app-form-monitor-edit [monitor]="monitorEdited"></app-form-monitor-edit>
            </div>
        </div>
    </div>
</div>