.custom-card {
    background-color:#D9D9D9;
    border: none;
    border-radius: 8px;

    .btn {
        i {
            font-size: 1rem;
        }
    }

    .btn-danger {
        background-color: #ff5c5c;
        border-color: #ff5c5c;

        &:hover {
            background-color: #e04848;
            border-color: #e04848;
        }
    }

    .btn-warning {
        background-color: #f0ad4e;
        border-color: #f0ad4e;

        &:hover {
            background-color: #ec971f;
            border-color: #ec971f;
        }
    }
}