img {
    height: 100%;
    max-height: 11vh;
    background-color: rgb(226, 226, 226);
}

p {
    word-wrap: break-word;
    /* Permite que las palabras largas se partan si es necesario */
    overflow-wrap: break-word;
    /* Compatibilidad adicional para envolver palabras */
    white-space: normal;
    /* Asegúrate de que el texto no se mantenga en una sola línea */
}

.info-box {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Asegúrate de que sea mayor al z-index del footer */
    margin-right: 10px;
    font-size: small;
  }
  